.icon-close {
  cursor: pointer;
  padding: 0px 10px;
  height: 40px;
  min-width: 40px;
  background-color: rgba(128, 128, 128, 0.5);
  font-size: 20px;
  font-weight: bold;
  text-align: center;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

.icon-close:hover {
  background-color: rgba(255, 255, 255, 0.8);
}

.icon-close:hover:after {
  padding-left: 5px;
  content: 'CLOSE';
  font-size: 20px;
  font-weight: normal;
}
