.tile-container {
  width: 482px;
  height: 482px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
  margin: 10px;
  position: relative;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  z-index: 0;
}

.tile-container:hover .overlay {
  display: block;
}

.tile-container:hover .title {
  white-space: normal;
}

.tile-container:hover .description {
  display: block;
}

.icon-close-container {
  flex: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  z-index: 1;
}

.title-container {
  flex: 0;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.title {
  background-color: #ffffff;
  font-size: 20px;
  padding: 20px 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.description {
  background-color: #ffffff;
  padding: 0px 20px 20px 20px;
  display: none;
}
